@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

.carta{
    width: 200px;
    height: 280px;
}

.icono1 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 3rem;
}

.icono2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 3rem;
}

.numero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 5rem;
    font-weight: bold;
}